@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: "Sen", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

img {
  width: 100%;
}

.container {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
}

.navbar {
  background-color: rgb(61, 61, 61);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  z-index: 1;

  /* box shadow area*/
  box-shadow: 10px 5px 13px -4px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 10px 5px 13px -4px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 10px 5px 13px -4px rgba(0, 0, 0, 0.44);
  /* box shadow area */
}

.my-logo img {
  top: 5px;
  left: 5px;
  position: absolute;
  width: 60px;
}

.navbar ul {
}

.navbar ul li a {
  display: inline-block;
  margin: 10px auto;
  padding: 12px;
  width: 100%;
  text-decoration: none;
  box-sizing: border-box;
  color: #ddd;
  font-weight: bold;
  transition: 0.5s ease-in-out;
  font-size: 0.8em;
}

.navbar ul li a:hover {
  color: white;
  background-color: rgb(74, 74, 74);
}

.navbar ul li a span {
  font-size: 0.7em;
  position: absolute;
}

.navbar .copyright p {
  font-size: 0.6em;
  box-sizing: border-box;
  text-align: center;
  margin: 5px auto;
}

.body {
  width: 100%;
  background-color: #333;
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  padding: 15px;
}

.body::-webkit-scrollbar {
  display: none;
}

.container-body {
  display: grid;
  grid-template-areas: "kiri kanan";
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  align-items: center;
  height: 100%;
}

.container-body .kiri {
  grid-area: kiri;
  padding: 20px;
  box-sizing: border-box;
}

.kiri h2 {
  color: aqua;
  font-size: 1.9em;
}

.kiri h1 {
  box-sizing: border-box;
  font-size: 3.4em;
  font-weight: bold;
}

.kiri .contact-top {
  margin-top: 20px;
}

.kiri .contact-top img {
  width: 50px;
  opacity: 70%;
  transition: 0.3s ease-in-out;
}

.kiri .contact-top img:hover {
  opacity: 100%;
}

.kiri .subtitle {
  box-sizing: border-box;
  padding-top: 50px;
}

.container-body .kanan {
  width: 100%;
  display: flex;
  grid-area: kanan;
  justify-content: end;
  transition: 0.5s ease-in-out;
}

.container-body .kanan img {
  width: 450px;
  border-radius: 50%;
}

@media screen and (max-width: 675px) {
  .container-body {
    grid-template-areas:
      "kanan"
      "kiri";
    grid-template-columns: 1fr;
  }

  .container-body .kiri {
    padding: 0px;
    font-size: 0.9em;
  }

  .container-body .kanan {
    margin-bottom: 40px;
    justify-content: center;
  }

  .container-body .kanan img {
    width: 230px;
  }
}
