@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: "Sen", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

img {
  width: 100%;
}

.container {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
}

.navbar {
  background-color: rgb(61, 61, 61);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  z-index: 1;

  /* box shadow area*/
  box-shadow: 10px 5px 13px -4px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 10px 5px 13px -4px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 10px 5px 13px -4px rgba(0, 0, 0, 0.44);
  /* box shadow area */
}

.my-logo img {
  top: 5px;
  left: 5px;
  position: absolute;
  width: 60px;
}

.navbar ul {
}

.navbar ul li a {
  display: inline-block;
  margin: 10px auto;
  padding: 12px;
  width: 100%;
  text-decoration: none;
  box-sizing: border-box;
  color: #ddd;
  font-weight: bold;
  transition: 0.5s ease-in-out;
  font-size: 0.8em;
}

.navbar ul li a:hover {
  color: white;
  background-color: rgb(74, 74, 74);
}

.navbar ul li a span {
  font-size: 0.7em;
  position: absolute;
}

.navbar .copyright p {
  font-size: 0.6em;
  box-sizing: border-box;
  text-align: center;
  margin: 5px auto;
}

.container-copy .love {
  cursor: pointer;
}

.body {
  width: 100%;
  background-color: #333;
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.body::-webkit-scrollbar {
  display: none;
}

.container-body {
  width: 90%;
  display: grid;
  grid-template-areas: "kiri kanan";
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  align-items: center;
  height: 100%;
}

.container-body .kiri {
  grid-area: kiri;
  padding: 20px;
  box-sizing: border-box;
}

.kiri h2 {
  color: aqua;
  font-size: 1.9em;
}

.kiri h1 {
  box-sizing: border-box;
  font-size: 3.4em;
  font-weight: bold;
}

.kiri .contact-top {
  margin-top: 20px;
}

.kiri .contact-top img {
  width: 50px;
  opacity: 70%;
  transition: 0.3s ease-in-out;
}

.kiri .contact-top img:hover {
  opacity: 100%;
}

.kiri .subtitle {
  box-sizing: border-box;
  padding-top: 50px;
}

.container-body .kanan {
  width: 100%;
  display: flex;
  grid-area: kanan;
  justify-content: end;
  transition: 0.5s ease-in-out;
}

.container-body .kanan img {
  width: 450px;
  border-radius: 50%;
  transition: 0.5 ease-in-out;
}

.container-body .kanan img:hover {
  box-shadow: none;
  animation-name: imghover;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes imghover {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0px 1px 125px -32px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0px 1px 125px -32px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 1px 125px -32px rgba(255, 255, 255, 0.75);
  }
}

/* skills page */

.container-skills {
  width: 90%;
  margin: 30px auto;
  box-sizing: border-box;
}

.container-skills .title h1 {
  text-align: center;
}

.list-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
  transition: 1s ease-in-out;
  box-sizing: border-box;
}

.card-skills {
  padding: 40px;
  box-sizing: border-box;
  background-color: rgb(39, 39, 39);
  margin: 10px 10px;
  border-radius: 20px;
  text-align: center;
  transition: 0.4s ease-in-out;
}

.card-skills:hover {
  background-color: rgb(35, 35, 35);
}

.card-skills:hover > img {
  width: 120px;
}

.card-skills img {
  transition: 0.4s ease-in-out;
  width: 100px;
  border-radius: 20px;
}

.card-skills h5 {
  color: #ddd;
  font-size: 0.7em;
  margin-top: 10px;
}

/* contact page */

.container-contact {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: rgb(68, 68, 68);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  color: #ddd;
  justify-content: center;
  overflow: auto;
}

.container-contact::-webkit-scrollbar {
  display: none;
}
.container-contact .title {
  margin-bottom: 10px;
}

.form form {
  display: flex;
  flex-direction: column;
}

.form form > * {
  box-sizing: border-box;
  margin-bottom: 20px;
}

.form form input {
  font-family: "sen", Arial, Helvetica, sans-serif;
  outline: none;
  background-color: #333;
  border: none;
  color: #ddd;
  padding: 10px;
  box-sizing: border-box;
  font-size: 0.8em;
  width: 40%;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
}
.form form textarea {
  font-family: "sen", Arial, Helvetica, sans-serif;
  outline: none;
  background-color: #333;
  border: none;
  color: #ddd;
  padding: 10px;
  box-sizing: border-box;
  font-size: 0.8em;
  width: 40%;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
}

.form form input:focus {
  outline: 1px solid cyan;
}

.form form textarea:focus {
  outline: 1px solid cyan;
}

/*  */

@media screen and (max-width: 675px) {
  .container-body {
    grid-template-areas:
      "kanan"
      "kiri";
    grid-template-columns: 1fr;

    width: 100%;
  }

  .container-body .kiri {
    padding: 0px;
    font-size: 0.9em;
  }

  .container-body .kanan {
    margin-bottom: 40px;
    justify-content: center;
  }

  .container-body .kanan img {
    width: 230px;
    box-shadow: 0px 1px 125px -32px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0px 1px 125px -32px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 1px 125px -32px rgba(255, 255, 255, 0.75);
  }

  .form form input {
    width: 100%;
  }
  .form form textarea {
    width: 100%;
  }
}
